*.pyc
*.pyd
__pycache__
*.dll
*.so
*.exe
*.bin
*.o
*.back 
*.temp 
*.pem
.vscode/*
build/*
dist/*
dependency_links.text/*
*.egg-info
*.egg-info/*
pages/*
texmath/*
flask_session/*
server.toml
notes/*
notes/*.md
**notes**
*.tar.gz
*.tag.bz2
*.zip
*.egg 
*.whl
*.log
*.aux 
*.pdf 