*.pyc
*.pyd
__pycache__
*.dll
*.so
*.exe
*.bin
*.o
*.back 
*.temp 
*.swp
*.kate-swp
*.pem
.vscode/*
build/*
dist/*
dependency_links.text/*
*.egg-info
*.egg-info/*
pages/*
texmath/*
flask_session/*
server.toml
notes/*
notes/*.md
node_modules/*
*/node_modules/*
**notes**
*.tar.gz
*.tag.bz2
*.zip
*.egg 
*.whl
*.log
*.aux 
*.pdf 
*.pex
*.sqlite
deploy.env
*.crt 
*.pem 
tags_cache.json
.data/*
*/.data/*
*.data 
search_index/*
