{
    debug 
    log 
    admin  0.0.0.0:2019
}

{$MWIKI_WEBSITE} {
    ## tls ./domains.pem ./domains-key.pem

    # Enable file compression
    encode zstd gzip

    handle_path /-test-server {
       respond "Running reverse-proxy OK."
    }  
    
    handle_path /static {
       root * /static/
       file_server
    }


    intercept {
       @accel header X-Accel-Redirect *
        handle_response @accel {
           root * /wiki
           method * GET 
           rewrite {resp.header.X-Accel-Redirect}
           file_server
        }
    }
    
    #reverse_proxy 172.17.0.1:8000 
    reverse_proxy mwiki:9090 {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-For {remote}
        header_up X-Real-IP {remote}
    }
}
