[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
markdown-it-py = {extras = ["linkify", "plugins"], version = "*"}
pygments = "*"
frontmatter = "*"
flask-session = "*"

[dev-packages]

[requires]
python_version = "*"
