blinker==1.8.2
cachelib==0.13.0
cffi==1.17.1
click==8.1.7
cryptography==2.9.2
Flask==3.0.3
Flask-Session==0.8.0
frontmatter==3.0.8
gunicorn==23.0.0
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
linkify-it-py==2.0.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdit-py-plugins==0.4.2
mdurl==0.1.2
msgspec==0.18.6
# Editable Git install with no remote (mwiki==0.1.0)
-e /home/gmhf8z4/mdwiki
packaging==24.2
pycparser==2.22
Pygments==2.18.0
python-dateutil==2.9.0.post0
PyYAML==5.1
six==1.16.0
tomli==2.0.2
uc-micro-py==1.0.3
Werkzeug==3.0.4
woosh==0.0.1
zipp==3.20.2
