<!DOCTYPE htm>
<htm>
    <head>
        <meta charset="UTF-8">
        <title>User Login Screen</title>
        <title>User Login Screen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
        <div class="login">
            <h1 class="title is-1">Login</h1>
            <form action="/login" method="post" class="box">
                <div class="field" >
                    <label for="username">User name</label>
                    <br>
                    <input type="text" name="username" placeholder="Enter your username"></input>
                </div>
                <div class="field">
                    <labe for="password">Password</labe>
                    <br>
                    <input type="password" name="password" placeholder="Enter your username"></input>
                </div>
                <div class="field">
                    <input type="submit" class="button is success" name="submit" value="login">
                </div>
            </form>
        </div>
    </body>
</htm>
