<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
    <title>MWiki - {{title}}</title>
    <link rel="stylesheet" href="/static/style.css">
    {% block style %}{% endblock %}
    <script>
    MathJax = {
        tex: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            displayMath: [['$$','$$'], ['\\[','\\]']],
            processEscapes: true,
            processEnvironments: true,
        }
    }
    </script>
    <!-- 
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
        -->
<script src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-chtml-full.js"
        integrity="sha256-kbAFUDxdHwlYv01zraGjvjNZayxKtdoiJ38bDTFJtaQ="
        crossorigin="anonymous">
</script>

    <!-- Pseudocode.js - Render LaTeX pseudocode code blocks.-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pseudocode@2.4.1/build/pseudocode.min.css">
    <script src="https://cdn.jsdelivr.net/npm/pseudocode@2.4.1/build/pseudocode.min.js"> </script>

    {% block jslibs %}
    <!-- Additional Javascript libraries -->
    {% endblock %}

    <script type="text/javascript" src="/static/main.js"></script>

</head>

<body>
    <div class="sidebar sidebar-visibility">
        <h2>Search</h2>
        <form action="/pages" mehtod="GET">
            <label for="site-search-bar">Search all Markdown Files</label>
            <br>
            <input type="search" id="site-search-bar" name="search" placeholder="Search..." value="{{query}}" />
            <button class="sidebar-search-button">OK</button>
        </form>

        {% if toc %}
        <h2>Contents</h2>
        <div class="toc">
            <!-- Table of contents template placeholder -->
            {% block toc %}{% endblock %} 
        </div>
        {% endif %}

    </div>
    <div class="main main-shift">
        <div class="header">
            <a class="sidebar-toggle-button" href="#/" onclick="toggle_sidebar();">[#]</a>
            <a class="sidebar-toggle-button" href="/">Home</a>
            <a class="sidebar-toggle-button" href="/pages">All</a>
            {% block topbar_buttons %}{% endblock %}
            <a class="sidebar-toggle-button" href="#" id="btn-create-note">New</a>
            <a class="sidebar-toggle-button" href="/logoff">Quit</a>
        </div>

        <div class="content">
            <h1 class="document-heading">{{title}}</h1>
            <p class="hidden-mathjax-macros" style="display: none;">
                $$
                {{ latex_macros }}
                $$
            </p>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script>
            pseudocode.renderClass("pseudocode", { "lineNumber": 1 });
    </script>
</body>

</html>