<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
    <title>MWiki - {{title}}</title>
    <link rel="stylesheet" href="/static/style.css">
    {% block style %}{% endblock %}
    <!-- MathJax Settings -->
    <script>
    MathJax = {
        loader: {load: ['[tex]/tagformat', '[tex]/mathtools', 'output/chtml']}

      , section: 1
      , tex: {
          inlineMath: [['$','$'], ['\\(','\\)']]
        , displayMath: [['$$','$$'], ['\\[','\\]']]
        , processEscapes: true
        , processEnvironments: true
          // Location of equation numbers
        , tagSide: "right"  
        // Possible values 'ams' or 'all' (all equations are numbered by default)
        , tags: "all"
        //, tags: 'ams'
        , packages: {'[+]': [
                                  'tagformat'
                                , 'sections'
                                , 'autoload-all'
                            ]}
        , tagformat: {
          number: (n) => MathJax.config.section + '.' + n
        }
      }

     , startup: {

            ready() {
                console.log(" [TRACE] I was called from ready()");
                const Configuration = MathJax._.input.tex.Configuration.Configuration;
                const CommandMap = MathJax._.input.tex.SymbolMap.CommandMap;
                new CommandMap('sections', {
                      nextSection: 'NextSection'
                    , setSection:  'SetSection'
                }, {
                     NextSection(parser, name) {
                        console.log(" [TRACE] Called next section");
                        MathJax.config.section++;
                        parser.tags.counter = parser.tags.allCounter = 0;
                    }
                    , SetSection(parser, name) {
                        const n = parser.GetArgument(name);
                        MathJax.config.section = parseInt(n);
                        parser.tags.counter = parser.tags.allCounter = 0;
                    }
                });
                Configuration.create(
                    'sections', { handler: { macro: ['sections'] } }
                );
                MathJax.startup.defaultReady();
            }
        }
    , chtml: {
        /// displayAlign: "left"
      }
    // options for when overflow is linebreak
    , linebreaks: {             
        inline:           true,   // true for browser-based breaking of inline equations
        width:            '100%', // a fixed size or a percentage of the container width
        lineleading:      .2,     // the default lineleading in em units
        LinebreakVisitor: null,   // The LinebreakVisitor to use
    },

    }

    </script>
    <script src="/static/mathjax/es5/tex-chtml.js" id="MathJax-script" async></script>

<!--
<script src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-chtml-full.js"
        integrity="sha256-kbAFUDxdHwlYv01zraGjvjNZayxKtdoiJ38bDTFJtaQ="
        crossorigin="anonymous">
</script>
-->

    <!-- Pseudocode.js - Render LaTeX pseudocode code blocks.-->
    <!-- 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pseudocode@2.4.1/build/pseudocode.min.css">
    -->

   <!-- <script src="https://cdn.jsdelivr.net/npm/pseudocode@2.4.1/build/pseudocode.min.js"> </script>
   -->

    {% block jslibs %}
    <!-- Additional Javascript libraries -->
    {% endblock %}

    <script type="text/javascript" src="/static/main.js"></script>

</head>

<body>
    <aside class="sidebar sidebar-visibility">
        <h2>Search</h2>
        <form action="/pages" mehtod="GET">
            <label for="site-search-bar">Search all Markdown Files</label>
            <br>
            <input type="search" id="site-search-bar" name="search" placeholder="Search..." value="{{query}}" />
            <button class="sidebar-search-button">OK</button>
        </form>

        {% if toc %}
        <h2>Contents</h2>
        <div class="toc">
            <!-- Table of contents template placeholder -->
            {% block toc %}{% endblock %} 
        </div>
        {% endif %}

    </aside>
    <div class="main main-shift">
        <header class="header">
            <a class="sidebar-toggle-button" href="#/" onclick="toggle_sidebar();">[#]</a>
            <a class="sidebar-toggle-button" href="/">Home</a>
            <div class="dropdown">
              <a class="button-toggle-menu sidebar-toggle-button" 
                 href="#" 
                 title="Global menu"
                 class="dropbtn"
                 >[Global]</a>
              <div class="menu-dropdown-content menu-hidden" onclick="menuClicked(event)">
                 <a class="sidebar-toggle-button" href="/pages" title="Search and list all pages.">Search</a>
                 <a class="sidebar-toggle-button" href="#" id="btn-create-note" title="Create new page or note.">New</a>
                 <a class="sidebar-toggle-button" href="#" onclick="showRefcard();" id="btn-show-refcard" title="Show Reference Card.">Refcard</a>
                 <a class="sidebar-toggle-button" href="/logoff">Log off</a>
                 <a class="sidebar-toggle-button" href="/about">About</a>
              </div>
            </div>
            {% block topbar_buttons %}{% endblock %} 
            <a class="sidebar-toggle-button" 
                 href="#" 
                 id="btn-scroll-top" 
                 title="Scroll to top of the page"
                 >☝️</a>
                 
             <a class="sidebar-toggle-button" 
                 href="#" 
                 id="btn-scroll-bottom" 
                 title="Scroll to bottom the page"
                 >👇</a>           
        </header>

        <main class="content">
            <h1 class="document-heading">{{title}}</h1>
            <p class="hidden-mathjax-macros" style="display: none;">
                $$
                {{ latex_macros }}
                $$
            </p>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <script>
            pseudocode.renderClass("pseudocode", { "lineNumber": 1 });
    </script>
</body>

</html>