{% extends "base.html" %}

{% block topbar_buttons %}
    {% include 'page_menu.html' %}
{% endblock %}

{% block toc  %}
    <ul>
    {% for h in headings %}
        <ol>
            {% if h.number %}
                <span><a class="link-sidebar" href="#{{h.anchor}}">{{ h.number }} - {{h.title}}</a> </span>
            {% else %}
                <span><a class="link-sidebar" href="#{{h.anchor}}">{{h.title}}</a> </span>
            {% endif %}
            {% if h.children %}
                <div> 
                <ul>
                {% for ch in h.children %}
                    <li><a class="link-sidebar" href="#{{ch.anchor}}">{{ch.title}}</a></li>
                {% endfor %}
                </ul>
                </div>
            {% endif %}
        </ol>
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    {{ content|safe }}
{% endblock %}

{% block topbar_buttons_last %}
    <a data-i18n="menu-item-print-icon"
        class="sidebar-toggle-button" 
			  title="Print current page or export it to PDF."
        href="#"
        onclick="printPage();">
        <img class="img-icon" src="/static/printer-outline.svg">
    </a>
{% endblock %}
