{% extends "base.html" %}

{% block topbar_buttons %}
    {% include 'page_menu.html' %}
{% endblock %}

{% block jslibs %}
{% endblock %}

{% block style %}

<style type="text/css" media="screen">


/** For desktop systems */
@media (min-width: 600px)
{
    #editor { 
        position: absolute;
        display: block;
        width: 100%;
        height: 70%;
        font-size: 14pt;
        /* top: 0;
        right: 0;
        bottom: 0;
        left: 0; */
    }
}

/** For desktop systems */
@media (max-width: 600px)
{
    #editor { 
        position: absolute;
        display: block;
        width: 90%;
        height: 80%;
        font-size: 8pt;
        /* top: 0;
        right: 0;
        bottom: 0;
        left: 0; */
    }
}




</style>
{% endblock %}

{% block toc  %}
{% endblock %}

{% block content %}
<strong>Editing page:</strong> {{page}}
<button onclick="save_document();">Save</button>
<br>Status: <label id="status-info">Not saved</label>
<details>
    <button onclick="notImplemented();">Undo</button>
    <button onclick="notImplemented();">Redo</button>
    <button onclick="insertLinkToPage();">Insert link to page</button>
    <button>Highlight selected code</button>
    <button>Insert code block</button>
    <button onclick="editorInsertLatexEquation();">Insert LaTeX Equation</button>
    <button onclick="editorInsertLatexEquationNonNumered();">Insert Non Numbered Latex Equation</button>
    <button onclick="editorInsertTheorem();">Insert Theorem</button>
    <button onclick="editorInsertDetails();">Insert Foldable Details</button>
</details>
<!-- Placement point for Ace Text Editor -->
<div id="editor">{{content}} </div>

<script src="/static/acebuild/src-min/ace.js"></script>
<script src="/static/acebuild/src-min/keybinding-vim.js"></script>
<script src="/static/acebuild/src-min/keybinding-vscode.js"></script>
<script src="/static/acebuild/src-min/ext-inline_autocomplete.js"></script>
<script src="/static/acebuild/src-min/ext-beautify.js"></script>
<script src="/static/acebuild/src-min/ext-searchbox.js"></script>
<script src="/static/acebuild/src-min/ext-command_bar.js"></script>
<script src="/static/acebuild/src-min/mode-markdown.js"></script>
<script src="/static/acebuild/src-min/mode-python.js"></script>
<script src="/static/acebuild/src-min/mode-html.js"></script>



<!-- 
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.3/ace.js" integrity="sha512-l13f2Dlet80LPHc8rVTtou5W/g57iXICo6ejbKXNyQeTIhFxb4STvoJSaV7kFK/tmrIRIN4caTlpH6lxondKJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.3/keybinding-vscode.min.js" integrity="sha512-sALdRE8skRaHi5dri3ejsaAQb1NCbkiBMSUI/IWJQYMzA7k/VvlJ5JLOX3n88OG2S+zEcqeJlaX7GZOeLXyYlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.3/ext-beautify.min.js" integrity="sha512-uXfi0GwpQZcHIhGOMMHeNYtBSjt7qDXjXHmjShWSp+RWMSmjdy69N7M/pufinvQLv6rSYlpbSXqSnLRzWE952w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.3/ext-command_bar.min.js" integrity="sha512-AqFRkdjhllaERDJ3vD8myi6aKTX2dJxqAZ7uTB0mjBd1+YFUoQKcIRpTU0+b5jzkKU7M8gO9vLbmJb0kcRR+XQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.3/ext-inline_autocomplete.min.js" integrity="sha512-StLvTHZa8ZUJvQFRdA+rKevfMqZwkGcdAabg13cCy/Gx3sc+7aTTTNJzc/nCZwJlWYhOskpBq0bw5uX3KAWJnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.3/ext-searchbox.min.js" integrity="sha512-nKqGxQVBui0VGf73E6lxK8JcMOiiQFJyoC7vb1FEhFXooBhJ6sU6yUqfkO0i+mVBlsthwiGWWQrSjCRhXd/Gfg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.3/keybinding-vim.min.js" integrity="sha512-C7YjfQmi4h4DPvLet9RJKxsMRY216RlotJh4HK+PM6/4V/R538srcwHpCRgjSA1UZ3qFDCtLiIKHEy83kvMAQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.3/keybinding-vscode.min.js" integrity="sha512-sALdRE8skRaHi5dri3ejsaAQb1NCbkiBMSUI/IWJQYMzA7k/VvlJ5JLOX3n88OG2S+zEcqeJlaX7GZOeLXyYlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.3/mode-markdown.min.js" integrity="sha512-6POKArs6bJW5Stg2VlGSlx1mEy/BRwaUk5xuhZVqts4cwKLHjO3i3OD3yPasDlMGEFDLN5RbP0UuBMllqhU2xw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
-->

<script>
    currentWikiPage = "{{page}}";
    console.trace(`Current Wiki page being edited ${currentWikiPage}`);
</script>
<script src="/static/editor.js"></script>

{% endblock %}

