{% extends "base.html" %}

{% block topbar_buttons %}
    {% include 'page_menu.html' %}
{% endblock %}

{% block toc  %}
    {{ toc|safe }}
{% endblock %}

{% block content %}
    <strong data-i18n="links-page-strong-label">Page</strong>: <a class="link-internal" href="/wiki/{{page}}">{{ page }}</a>
    <h2 data-i18n="links-page-internal-links-h2">Internal Hyperlinks</h2>
    
    <ul>
    {% for x in internal_links %}
        <li><a class="link-internal" href="/wiki/{{x}}" >{{x}}</a> </li>
    {% endfor %}
    </ul>

    <h2 data-i18n="links-page-external-links-h2">External Hyperlinks</h2>
    <ul>
    {% for x in links %}
        <li><a href="{{x.href}}" 
               class="link-external" 
               target="_blank" 
               rel="noreferrer noopener nofollow"
               >{{x.label}}</a> </li>
    {% endfor %}
    </ul>
{% endblock %}

