{% extends "base.html" %}

{% block content %}
    <div>
        {% for p in pages %}
            <div class="div-page-info">
                <h4><a class="link-internal" href="/wiki/{{ p.name }}">{{ p.name }}</a> </h4>
                
                {% if p.metadata.description %}
                <div class="page-description">  
                    {{ p.metadata.description }}
                </div>
                
                {% endif %}

                <ul>
                    {% if p.metadata.label %}
                    <li> Label: {{ p.metadata.label }} </li>
                    {% endif %}

                    {% if p.metadata.subject %}
                    <li> Subject: {{ p.metadata.subject }} </li>
                    {% endif %}

                    {% if p.metadata.keywords %}
                        <li> Keywords: {{ p.metadata.keywords }}</li>
                    {% endif %}
                    </li>
                </ul> 

                {% if p.matches %}
                <details>
                    <summary>Search matches</summary>
                    <ul>
                        {% for m in p.matches %}
                        <li><span class="search-item">{{ m }}</span></li>
                        {% endfor %}
                    </ul>
                </details>
                {% endif %}
            </div>
        {% endfor %}

    </div>
{% endblock %}