{% extends "base.html" %}

{% block content %} 
        <div>
            <div id="page-search">
                <form id="search-form" class="form-style" action="/pages" mehtod="GET">
                    <fieldset>
                        <legend data-i18n="search-form-label">Search pages</legend>
                        <div class="field">
                            <input class="style-form-input" 
                                   type="search" id="site-search-bar" 
                                   name="search" 
                                   placeholder="Search..." 
                                   value="{{query}}" />
                        </div>
                        <div class="field">
                            <input data-i18n="search-form-search-button-label" type="submit" class="style-form-button" value="Search" />
                            <input data-i18n="search-form-clear-button-label" type="button"  class="style-form-button" value="Clear" onclick="clearFormEntries('#search-form');" />
                            <input data-i18n="search-form-all-button-label" type="button"  class="style-form-button" onclick="redirect('/pages');" value="All" title="List all pages" />
                        </div>
                    </fieldset>
                </form>
        </div>

        <div class="div-sort">
            <strong data-i18n="search-results-sort-by-label">Sort by:</strong>
            <div class="div-sort-content">
                <a data-i18n="sort-by-score-link-button" class="link-internal" title="Sort by score" 
                    href="/pages?search={{query}}&sort=score">Score</a>
                <a data-i18n="sort-by-name-link-button" class="link-internal" title="Sort by name" 
                    href="/pages?search={{query}}&sort=name">Name</a>
                <a data-i18n="sort-by-modified-time-link-buttton" class="link-internal" title="Sort by modified time in reverse order"
                    href="/pages?search={{query}}&sort=modified">Modified</a>
                <a data-i18n="sort-by-created-time-link-button" class="link-internal" title="Sort by created time in reverse order"
                    href="/pages?search={{query}}&sort=created">Created</a>
            </div>
        </div>

       <div>
        <h2 data-i18n="search-results-h2-label">Pages</h2>

        <label data-i18n="number-of-search-results-label">Results</label>: {{ size }}
        <hr>

        {% for p in pages %}
            <div class="div-page-info">
                <h4><a class="link-internal" href="/wiki/{{ p.link }}">{{ p.name }}</a> </h4>

                <a href="/edit/{{p.name}}" class="link-internal" title="Edit page markdown">[E]</a>
                <a href="/source/{{p.name}}" class="link-internal" title="View page source in read-only-mode">[S]</a>
                <a href="#" onclick="deletePage('{{p.name}}')"  class="link-internal delete-page-button" title="Delete page">[D]</a>

                {% if p.metadata.description %}
                <div class="page-description">  
                    {{ p.metadata.description }}
                </div>

                {% endif %}

                <ul>
                    {% if p.metadata.label %}
                    <li> Label: {{ p.metadata.label }} </li>
                    {% endif %}

                    {% if p.metadata.subject %}
                    <li> Subject: {{ p.metadata.subject }} </li>
                    {% endif %}

                    {% if p.metadata.keywords %}
                        <li> Keywords: {{ p.metadata.keywords }}</li>
                    {% endif %}
                    </li>
                </ul> 

                {% if p.matches %}
                <details>
                    <summary data-i18n="search-matches-label">Search matches</summary>
                    <ul>
                        {% for m in p.matches %}
                        <li><span class="search-item">{{ m }}</span></li>
                        {% endfor %}
                    </ul>
                </details>
                {% endif %}
            </div>
        {% endfor %}
        </div>
{% endblock %}
