<div class="dropdown">
  <a class="sidebar-toggle-button" 
     href="#" 
     onclick="btnClickHandler(event)" 
     title="Menu containing actions for current page."
     class="dropbtn"
     >[Page]</a>
  <div class="menu-dropdown-content menu-hidden" onclick="menuClicked(event)">

      {% if current_user().is_authenticated() %}
       <a class="sidebar-toggle-button" href="#" onclick="showRefcard();" id="btn-show-refcard" title="Show Reference Card.">Refcard</a>
      {% endif %}
     
      {% if config_show_source() %}
      <a class="sidebar-toggle-button" 
           href="/source/{{page}}" 
           title="Display source code of current page."
           >Source</a>
      {% endif %}
                
      {% if current_user().is_admin() %}
       <a class="sidebar-toggle-button" 
           href="/wiki/{{page}}" 
           title="View this page as html"
                >View</a>
        <a class="sidebar-toggle-button" href="#" 
                  id="btn-create-note" title="Create new page or note.">New</a>
        <a class="sidebar-toggle-button" 
           href="/edit/{{page}}" 
           title="Edit markdown page"
                >Edit</a>
        <a class="sidebar-toggle-button" 
           href="/links/{{page}}" 
           title="Display all external links of this page."
           >Links</a>
        <a class="sidebar-toggle-button" 
           href="#" 
           title="Delete this page"
           onclick="deletePage('{{page}}')" 
           >Delete</a>
       {% endif %}
  </div>
</div>