{% extends "base.html" %}


{% block topbar_buttons %}
    
{% endblock %}

{% block toc  %}

{% endblock %}

{% block content %}

    {% if request.values.get('back') %}
    <ul>
        <li>
            <label data-i18n="settings-page-go-back-label">Go back to</label> <a class="link-internal" href="{{ request.values.get('back') }}">{{ request.values.get('back') }}</a>
        </li>
    </ul>
    {% endif %}
    
<!-- Note: this CSS class div-wiki-image is used for  centering the  text. -->
<div class="div-wiki-image">
{% for msg in get_flashed_messages() %}
    <p>{{msg|safe}}</p>
{% endfor %}
</div>

<div class="form-wrapper">
    <form method="POST" action="/settings?back={{ request.values.get('back') }}" autocomplete="off" >
        <input id="csrf_token" name="csrf_token" type="hidden" value="{{ csrf_token() }}">

        <div class="grid">
        <fieldset class="form-field">
            <label data-i18n="settings-sitename-label" for="sitename">Website Name</label>
            <br>
            <input id="sitename" name="sitename" required="" type="text" value="{{ form.sitename.data }}">
        </fieldset>
        </div>
        <fieldset class="form-field">
            <label data-i18n="settings-website-description-label" for="description">Website Description</label>
            <br>
            <textarea id="description" name="description">{{ form.description.data }}</textarea>
        </fieldset>
        <fieldset class="form-field">
            <input  {% if form.public.data %} checked="" {% endif %}
					id="public" name="public" type="checkbox" value="{{ form.public.data }}">
            <label  data-i18n="settings-public-checkbox-label" for="public">Public</label>
            <!--             If enabled, everybody including non logged in users will be 
					able to view the wiki content. Note that only logged in users can edit the wiki. -->
            <p data-i18n="settings-public-checkbox-description" >
            If enabled, everybody including non logged in users will be able 
            to view the wiki content. Note that only logged in users can edit the wiki.
            </p>
        </fieldset>
        <fieldset class="form-field">
            <input {% if form.display_edit_button.data %} checked="" {% endif %}
					id="display_edit_button" name="display_edit_button" type="checkbox" value="{{ form.public.data }}">
            <label data-i18n="settings-display-edit-button-checkbox-label" for="display_edit_button">Display edit button</label>
            <p data-i18n="settings-display-edit-button-checkbox-description">
            Display the wiki edit button for all users [E]. If this setting is disabled,  only admin users or users with permission to edit pages will be able to view the edit button.
            </p>
        </fieldset>
        <fieldset class="form-field">
            <input {% if form.vim_emulation.data %} checked="" {% endif %} id="vim_emulation" name="vim_emulation" type="checkbox" value="{{ form.vim_emulation.data }}">
            <label data-i18n="settings-vim-emulation-checkbox-label" for="vim_emulation">VIM Emulation</label>
            <p data-i18n="settings-vim-emulation-checkbox-description">
            Enable VIM editor emulation in the Wiki code editor (Ace9).
            </p>
        </fieldset>
        <fieldset class="form-field">
            <input  {% if form.show_source.data %} checked="" {% endif %}
					id="show_source" name="show_source" type="checkbox" value="{{ form.show_source.data }}">
            <label data-i18n="settings-show-source-checkbox-label" for="show_source">Show Page Source</label>
            <p data-i18n="settings-show-source-checkbox-description">
            Provides a button that allows vieweing the Markdown (wiki text) source code a wiki
            </p>
        </fieldset>
        <fieldset class="form-field">
            <input {% if form.show_licenses.data %} checked="" {% endif %}
					id="show_licenses" name="show_licenses" type="checkbox" value="{{ form.show_licenses.data }}">
            <label data-i18n="settings-show-licenses-checkbox-label" for="show_licenses">Show Licenses</label>
            <p data-i18n="settings-show-licenses-checkbox-description">
            Displays menu option showing 'Licenses' that shows all openSource licenses used by this project.
            </p>
        </fieldset>
        
        <fieldset class="form-field">
            <input 	{% if form.use_default_locale.data %} checked="" {% endif %} id="use_default_locale" 
					name="use_default_locale" type="checkbox" value="{{ form.use_default_locale.data }}">
            <label data-i18n="settings-use-default-locale-checkbox-label"  for="use_default_locale">Use default locale</label>
            <p data-i18n="settings-use-default-locale-description">
			        Always use the default locale (language) regardless of the user preferred language provided by the web browser.
            </p>
        </fieldset>
        
        <fieldset class="form-field">
            <input 	{% if form.language_switch.data %} checked="" {% endif %}  
					name="language_switch" type="checkbox" value="{{ form.language_switch.data }}">
            <label data-i18n="settings-language-switch-checkbox-label"  for="language_swtich">Allow Language Switch</label>
            <p data-i18n="settings-language-switch-description">
              Allow users to swtich the user interface language for their session.
            </p>
        </fieldset>

        <fieldset class="form-field">
            <input 	{% if form.use_cdn.data %} checked="" {% endif %}  
					        name="use_cdn" type="checkbox" value="{{ form.use_cdn.data }}">
            <label data-i18n="settings-use-cdn-checkbox-label"  for="use-cdn">Use CDN</label>
            <p data-i18n="settings-use-cdn-description">
			         Load JavaScript libraries from a CDN Content-Delivery Network
               instead of loading them from this server.
            </p>
        </fieldset>

       
        <fieldset class="form-field">
            <label data-i18n="settings-latex-renderer-label" for="latex_renderer">LaTeX Renderer</label>
            {{ form.latex_renderer }}
            <p data-i18n="settings-latex-renderer-description">
			         JavaScript library used for rendering LaTeX math formulas.
               Note that the support for KaTeX is still experimental.               
            </p>
        </fieldset>
                
            
        <fieldset class="form-field">
            <label data-i18n="settings-default-locale-label" for="default_locale">Default Locale</label>
            {{ form.default_locale }}
        </fieldset>
        
        <fieldset class="form-field">
            <label data-i18n="settings-main-font-label" for="main_font">Main Font</label>
            {{ form.main_font }}
        </fieldset>
        <fieldset class="form-field">
            <label data-i18n="settings-code-font-label" for="code_font">Code Font</label>
            {{ form.code_font }}
        </fieldset>
        <fieldset class="form-field">
            <label data-i18n="settings-title-font-label" for="title_font">Title Font</label>
			{{ form.title_font }}
        </fieldset>
        <input class="primary-button" data-i18n="settings-update-button" id="submit" name="submit" type="submit" value="Update">
    </form>
</div>




{% endblock %}


