{% extends "base.html" %}


{% block topbar_buttons %}
    
{% endblock %}

{% block toc  %}

{% endblock %}

{% block content %}

<div class="form-wrapper">
    <form method="POST" action="/settings">
        <fieldset class="form-field">
            {{ form.sitename.label }}
            {{ form.sitename}}
        </fieldset>
        <fieldset class="form-field">
            {{ form.description.label }}
            {{ form.description }}
        </fieldset>
        <fieldset class="form-field">
            {{ form.public.label }}
            {{ form.public}}
            {{ form.public.description }}
        </fieldset>
    
        {{ form.submit }}
    </form>
</div>

{% for msg in get_flashed_messages() %}
    <p>{{msg}}</p>
{% endfor %}

{% endblock %}


