<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>">
    <title>MWiki - {{title}}</title>
    <link rel="stylesheet" href="/static/style.css"> 
    <style>
        .link-edit {
            visibility: hidden;
        }
    </style> 
    
    <!-- MathJax Settings -->
    <script>
    MathJax = {
        loader: {load: ['[tex]/tagformat', '[tex]/mathtools', 'output/chtml']}

      , section: 1
      , tex: {
          inlineMath: [['$','$'], ['\\(','\\)']]
        , displayMath: [['$$','$$'], ['\\[','\\]']]
        , processEscapes: true
        , processEnvironments: true
          // Location of equation numbers
        , tagSide: "right"  
        // Possible values 'ams' or 'all' (all equations are numbered by default)
        , tags: "all"
        //, tags: 'ams'
        , packages: {'[+]': [
                                  'tagformat'
                                , 'sections'
                                , 'autoload-all'
                            ]}
        , tagformat: {
          number: (n) => MathJax.config.section + '.' + n
        }
      }

     , startup: {

            ready() {
                console.log(" [TRACE] I was called from ready()");
                const Configuration = MathJax._.input.tex.Configuration.Configuration;
                const CommandMap = MathJax._.input.tex.SymbolMap.CommandMap;
                new CommandMap('sections', {
                      nextSection: 'NextSection'
                    , setSection:  'SetSection'
                }, {
                     NextSection(parser, name) {
                        console.log(" [TRACE] Called next section");
                        MathJax.config.section++;
                        parser.tags.counter = parser.tags.allCounter = 0;
                    }
                    , SetSection(parser, name) {
                        const n = parser.GetArgument(name);
                        MathJax.config.section = parseInt(n);
                        parser.tags.counter = parser.tags.allCounter = 0;
                    }
                });
                Configuration.create(
                    'sections', { handler: { macro: ['sections'] } }
                );
                MathJax.startup.defaultReady();
                pseudocode.renderClass("pseudocode", { "lineNumber": 1 });
                // This function is provided by main.js.
                setHeadingsVisibility(false)
            }
        }
    , chtml: {
        /// displayAlign: "left"
      }
    // options for when overflow is linebreak
    , linebreaks: {             
        inline:           true,   // true for browser-based breaking of inline equations
        width:            '100%', // a fixed size or a percentage of the container width
        lineleading:      .2,     // the default lineleading in em units
        LinebreakVisitor: null,   // The LinebreakVisitor to use
    },

    }

    </script>
    
    <script src="/static/mathjax/es5/tex-chtml.js" id="MathJax-script" async></script>

    <!-- Pseudocode.js (version 2.4.1) - Render LaTeX pseudocode code blocks.-->
    <link rel="stylesheet" href="/static/pseudocode.min.css">
    <script src="/static/pseudocode.min.js"></script>
    <!--
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pseudocode@2.4.1/build/pseudocode.min.css">
        <script src="https://cdn.jsdelivr.net/npm/pseudocode@2.4.1/build/pseudocode.min.js"> </script>
    -->

    {% block jslibs %}
    <!-- Additional Javascript libraries -->
    {% endblock %}

    <script type="text/javascript" src="/static/main.js"></script>

</head>

<body>
    <div class="main">
        <div class="content">
            <h1 class="document-heading">{{title}}</h1>
            <p class="hidden-mathjax-macros" style="display: none;">
                $$
                {{ latex_macros }}
                $$
            </p>
            {{ content|safe }} 
        </div>
    </div>
    <script>
            /** Fuction provided by main.js */
            toggleHeadings();
            pseudocode.renderClass("pseudocode", { "lineNumber": 1 });
    </script>
</body>

</html>